[defaults]
inventory = ./inventory/inventory.ini
private_key_file = roshank.pem
host_key_checking = False
remote_user = ubuntu
interpreter_python = /usr/bin/python3

[ssh_connection]
ssh_args = -o IdentitiesOnly=yes